<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Imprima&family=Lilita+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Imprima&family=Irish+Grover&family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/error.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h2 class="error">404</h2>
        <img src="error.gif" alt="error gif">
        <h3>I think its not what you are looking for</h3>
    </div>
</body>
</html>