<link rel="stylesheet" href="/css/nav.css">
<div id="nav">
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/top/1">Top rated</a>
    <a href="/fav">Favorite movies</a>
    <a href="/">Search</a>
  </div>
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776; </button>
  </div>
  <img src="/Group 3.png" alt="logo" id="logo">
  </div>
  <script src="/js/nav.js"></script>