<link rel="stylesheet" href="css/nav.css">
<img src="Group 3.png" alt="logo" id="logo">
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/top/1">Top rated</a>
    <a href="/fav.ejs">Favorite movies</a>
    <a href="/index.ejs">Search</a>
  </div>
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
    <h2>Collapsed Sidebar</h2>
    <p>Content...</p>
  </div>
  <script src="nav.js"></script>