<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <img src="Group 3.png">
    <hr>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Username" required>
        
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

        <button type="submit" class="reg-btn">Register</button>
    </form>

    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
      </div>
      <script src="js/register.js">
        </script>

</body>
</html>
