body{
    overflow: hidden;
    background: #ffd0d0;
}
form{
    position: absolute;
    display: flexbox;
    top: 30%;
    left: 35%;
}
form>input{
    width: 500px;
    height: 60px;
    padding: 8px;
    border-radius: 50px;
}
form>button{
    position: absolute;
    top: 1px;
    right: 0.16px;
    font-size: 1.7em;
    height: 76px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    border-left: transparent;
    cursor: pointer;

}

#moviebox{
    list-style: none;
    background-color: #333;
    width: 407px;
}
#moviebox>li>a>img{
    height: 40px;
    width: 30px;
}
#moviebox>li>a{
    color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;
    text-decoration: none;
    padding: 8px;
}
#searchedMovie{
    position: relative;
    top: 29.5vh;
    left: 36.5vw;
}
#moviebox>hr{
    position: relative;
    width: 21.5vw;
    right: 1.9vw;
}
footer{
    position: absolute;
    top: 90vh;
    left: 0vw;
}

#genre{
    height: 5vh;
    border-radius: 30px;
    margin: 10px;
    width: 5vw;
    background-color: black;
    color: #fff;
}
#genrediv{
    position: relative;
    top: -30vh;
    left:  -32vw;
    display: flex;
    flex-wrap: wrap;
    top: 0vh;
    width: 100vw;
}