body{
    overflow: hidden;
    background: #ffd0d0;
}

#logo{
    height: 34px;
    width: 256px;
}
form{
    position: absolute;
    display: flexbox;
    top: 30%;
    left: 35%;
}
form>input{
    width: 500px;
    height: 60px;
    padding: 8px;
    border-radius: 50px;
}
form>button{
    position: absolute;
    top: 1px;
    right: 0.16px;
    font-size: 1.7em;
    height: 76px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    border-left: transparent;
    cursor: pointer;

}

.hamburger-menu {
    position: relative;
    float: right;
    display: block;
    cursor: pointer;

}

.hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* When the menu is open, rotate the middle line and hide the others */

.hamburger-menu.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.active div:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

#moviebox{
    list-style: none;
    background-color: #333;
    width: 407px;
}
#moviebox>li>img{
    height: 40px;
    width: 30px;
}
#moviebox>li{
    color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;
    padding: 8px;
}
#searchedMovie{
    position: relative;
    top: 29.5vh;
    left: 36.5vw;
}
#moviebox>hr{
    position: relative;
    width: 21.5vw;
    right: 1.9vw;
}